.main-btn {
  background-color: var(--red);
  font-weight: bold;
  outline: none;
  border: none;
  height: 40px;
  padding: 0 15px;
  font-size: 18px;
  height: 54px;
  width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  transition: .3s;
  color: var(--light);
  &:hover {
    background-color: #ff7519a5;
  }
}
